doctype html
include ../chunks/mixin.pug
html(lang="ru").no-js
    head
        include ../chunks/head.pug
    block body
        .page-wrapper#page-wrapper
            .page-body#page-body
                include ../chunks/pif2.pug

    include ../chunks/scripts.pug
