.invest
    .container
        span.page.page_title Простые инвестиции и + 13% от государства
        .invest__wrap
            .invest__item
                img(src="img/pngsprite/ico-inves-1.png")
                span.invest__text Две готовые инвестиционные стратегии
            .invest__item
                img(src="img/pngsprite/ico-inves-2.png")
                span.invest__text
                    | Инвестиции
                    <br>
                    | с низким
                    <br>
                    | уровнем риска
            .invest__item
                img(src="img/pngsprite/ico-inves-3.png")
                span.invest__text Потенциальный инвестиционный доход выше инфляции
            .invest__item
                img(src="img/pngsprite/ico-inves-4.png")
                span.invest__text
                    | Гарантированный
                    <br>
                    | государством налоговый
                    <br>
                    | вычет 13%
.howitwork
    .container
        span.page.page_title Как это работает
        .howitwork__wrap
            .howitwork__item
                .howitwork__block
                        img(src="img/img-work-1.jpg")
                .howitwork__block
                    span.howitwork__title
                        | Вы открываете индивидуальный инвестиционный счет и выбираете одну из двух стратегий:&nbsp;
                        a(href="#").howitwork__title--link Валютная
                        | &nbsp;или&nbsp;
                        a(href="#").howitwork__title--link Рублевая
                    span.howitwork__text Счет открывается на 3 года на сумму от 100 до 400 тыс. рублей с возможностью вносить от 50 до 400 тыс. рублей ежегодно
        .howitwork__wrap
            .howitwork__item
                .howitwork__block
                    span.howitwork__title
                        | Получаете гарантированный государством налоговый вычет 13% от суммы взноса
                    span.howitwork__text Вы можете получить вычет самостоятельно в налоговой инспекции, либо не выходя из дома.
                .howitwork__block
                    img(src="img/img-work-2.jpg")
        .howitwork__wrap
            .howitwork__item
                .howitwork__block
                    img(src="img/img-work-3.jpg")
                .howitwork__block
                    span.howitwork__title
                        | Получаете доход от инвестиций в ценные бумаги, выпущенные в рублях или в долларах США
                    span.howitwork__text Денежные средства инвестируются в государственные и корпоративные облигации крупных компаний и еврооблигации.*
                    span.howitwork__subtext * — в том числе через ПИФ, инвестиционная декларация которого предусматривает размещение средств в указанные инструменты

.dox
    .container
        span.page_title Доходность инвестиций
        .dox__wrapper
            .dox__item.dox__item__title-list
                .dox__title.dox__first
                    span.dox__title__top Влохили
                    span.dox__title__bottom 1200  тыс. руб.
                .dox__title.dox__second
                    span.dox__title__top Получили
                    span.dox__title__bottom 1514  тыс. руб.
                .dox__title
                    span.dox__title__top Получили
                    span.dox__title__bottom
                        | +314  тыс. руб.
                        br
                        | (26%)
            .dox__item
                .dox__block.dox__first
                .dox__block.dox__second
                    .dox__block--orange
                        span.dox__text-w 156 тыс. руб.
                .dox__block
                    span.dox__text-b
                        | Налоговый
                        br
                        | вычет *
            .dox__item.dox__item--dashed
                .dox__block.dox__first
                .dox__block.dox__second
                    .dox__block--green
                        span.dox__text-w 156 тыс. руб.
                .dox__block
                    span.dox__text-b
                        | Инвестицинооный
                        br
                        | доход **
            .dox__item
                .dox__block.dox__block--small.dox__first
                    .dox__block--green-dark.dox__block--green-dark--small
                        span.dox__text-w 400 тыс. руб.
                        span.dox__text-b.dox__left 3-й год
                    .dox__block--green-dark.dox__block--green-dark--small
                        span.dox__text-w 400 тыс. руб.
                        span.dox__text-b.dox__left 2-й год
                    .dox__block--green-dark.dox__block--green-dark--small
                        span.dox__text-w 400 тыс. руб.
                        span.dox__text-b.dox__left 1-й год
                .dox__block.dox__second
                    .dox__block--green-dark
                        span.dox__text-w 1200 тыс. руб.
                .dox__block
                    span.dox__text-b
                        | Вложения
                        br
                        | за 3 года













