.pif1-pif
    .container
        span.pif1-pif__title
            | Паевые
            br
            | инвестиционные фонды
        span.pif1-pif__subtitle
            | Инвестируйте вместе с профессионалами
            br
            | для получения большего дохода!
        a(href="#").pif-btn Выбрать ПИФ
.pif1-pif__first
    .container
        .pif1-pif__first__title паевые инвестиционные фонды
        .pif1-pif__first__text Это простой и доступный способ инвестиций для людей, у которых недостаточно знаний или времени, чтобы инвестировать самостоятельно, но есть желание получать доход больше, чем по вкладам
.pif1-hiw
    .container
        .pif__title.pif1-hiw__title Как работают ПИФы?
        .pif1-hiw__wrapper
            .pif1-hiw__item
                img(src="img/pngsprite/ico-pif1-hiw-1.png")
                .pif1-hiw__item__text-block
                    span.pif1-hiw__color 1.
                    span.pif1-hiw__subtitle ук создает фонд (пиф)
                    span.pif1-hiw__text С определенной стратегией инвестирования (менее или более рискованной).

            .pif1-hiw__item
                img(src="img/pngsprite/ico-pif1-hiw-2.png")
                .pif1-hiw__item__text-block
                    span.pif1-hiw__color 2.
                    span.pif1-hiw__subtitle вы выбираете фонд
                    span.pif1-hiw__text Вкладываете в него деньги (покупаете пай), передавая деньги нам в управление с целью получения дохода.

            .pif1-hiw__item
                img(src="img/pngsprite/ico-pif1-hiw-3.png")
                .pif1-hiw__item__text-block
                    span.pif1-hiw__color 3.
                    span.pif1-hiw__subtitle средства фонда вкладываются
                    span.pif1-hiw__text В инструменты рынка ценных бумаг, недвижимость. УК заботится о сохранении и приумножении активов фонда.

            .pif1-hiw__item
                img(src="img/pngsprite/ico-pif1-hiw-4.png")
                .pif1-hiw__item__text-block
                    span.pif1-hiw__color 4.
                    span.pif1-hiw__subtitle вы получаете доход
                    span.pif1-hiw__text Размер потенциального возможного дохода зависит от изменения стоимости пая и может быть отрицательным.
.pif1-advantage
    .container
        .pif__title.pif1-advantage__title Преимущества ПИФов
        .pif1-advantage__wrapper
            .pif1-advantage__item
                span.pif1-advantage__number 1
                span.pif1-advantage__subtitle Доступные и удобные
                span.pif1-advantage__text Минимальная сумма инвестиций в открытые ПИФы – 15 000 руб. Вы можете выбрать фонд самостоятельно или воспользоваться нашими
                a(href="#").pif1-advantage__link готовыми решениями
            .pif1-advantage__item
                span.pif1-advantage__number 2
                span.pif1-advantage__subtitle Высоколиквидные
                span.pif1-advantage__text Вы можете погасить или обменять паи открытых ПИФов без потери накопленного дохода*
            .pif1-advantage__item
                span.pif1-advantage__number 3
                span.pif1-advantage__subtitle Управляются профессионалами
                span.pif1-advantage__text Средства пайщиков отделены от средств управляющей компании, жесткий контроль со стороны государства, для вас работает одна из лучших команд управляющих**
    .pif1-advantage__links
        .pif1-advantage__links__item.pif1-advantage__links__item--orange
            .container
                a(href="#").pif1-advantage__links__text читать статью про пифы
        .pif1-advantage__links__item.pif1-advantage__links__item--green

                a(href="#").pif1-advantage__links__text смотреть видео про пифы
.pif1-choose
    .container
        .pif__title.pif1-choose__title Как выбрать ПИФ
        .pif1-choose__item.js-pif1-item.active
            .pif1-choose__item__title 1. Выбрать ПИФ по уровню риска/доходности
            .pif1-choose__block
                .pif1-choose__block__item
                    span.pif1-choose__block__title низкий риск, умеренный доход
                    a(href="#").pif1-choose__block__who.js-pif1-who Для кого?
                        span.pif1-choose__block__who__text.
                            Эти ПИФы инвестируют преимущественно
                            в акции, по ним возможен самый большой
                            доход, но могут быть и убытки в определенных
                            периодах.  Подходят для опытных инвесторов,
                            готовых рисковать и зарабатывать больше.
                    .pif1-choose__subitem.pif1-choose__subitem--color.pif1-choose__subitem--green
                        div
                            span.pif1-choose__subitem__title Фонд облигаций “Илья Муромец”
                            span.pif1-choose__subitem__text Государственные, муниципальные и корпоративные облигации ведущих российских эмитентов.
                        .pif1-choose__subitem__info
                            span.pif1-choose__subitem__percent +13%
                            span.pif1-choose__subitem__year за 2016 год

                    .pif1-choose__readmore-block
                        .pif1-choose__subitem
                            span.pif1-choose__subitem__list-title Открытые ПИФ облигаций
                            a(href="#").pif1-choose__subitem__list-link Фонд облигаций Илья Муромец
                            a(href="#").pif1-choose__subitem__list-link Фонд Еврооблигации
                            a(href="#").pif1-choose__subitem__list-link Фонд  Глобальный долговой рынок

                .pif1-choose__block__item
                    span.pif1-choose__block__title средний риск, средний доход
                    a(href="#").pif1-choose__block__who.js-pif1-who Для кого?
                        span.pif1-choose__block__who__text.
                            Эти ПИФы инвестируют преимущественно
                            в акции, по ним возможен самый большой
                            доход, но могут быть и убытки в определенных
                            периодах.  Подходят для опытных инвесторов,
                            готовых рисковать и зарабатывать больше.
                    .pif1-choose__subitem.pif1-choose__subitem--color.pif1-choose__subitem--yellow
                        div
                            span.pif1-choose__subitem__title фонд сбалансированный
                            span.pif1-choose__subitem__text Инвестиции динамически распределяются между акциями и облигациями эмитентов из России.
                        .pif1-choose__subitem__info
                            span.pif1-choose__subitem__percent +21%
                            span.pif1-choose__subitem__year за 2016 год
                    .pif1-choose__readmore-block
                        .pif1-choose__subitem
                            span.pif1-choose__subitem__list-title Открытые ПИФ облигаций
                            a(href="#").pif1-choose__subitem__list-link Фонд рискованных облигаций
                        .pif1-choose__subitem
                            span.pif1-choose__subitem__list-title Открытые ПИФ смешанных инвестиций
                            a(href="#").pif1-choose__subitem__list-link Фонд Сбалансированный
                        .pif1-choose__subitem
                            span.pif1-choose__subitem__list-title Закрытые ПИФ недвижимости (ЗПИФН)
                            a(href="#").pif1-choose__subitem__list-link Фонд Коммерческая недвижимость
                            a(href="#").pif1-choose__subitem__list-link Фонд Жилая недвижимость 2
                            a(href="#").pif1-choose__subitem__list-link Фонд Жилая недвижимость 3
                            a(href="#").pif1-choose__subitem__list-link Фонд  Арендный бизнес
                            a(href="#").pif1-choose__subitem__list-link Фонд  Арендный бизнес 2

                .pif1-choose__block__item
                    span.pif1-choose__block__title высокий риск, повышенный доход
                    a(href="#").pif1-choose__block__who.js-pif1-who Для кого?
                        span.pif1-choose__block__who__text.
                            Эти ПИФы инвестируют преимущественно
                            в акции, по ним возможен самый большой
                            доход, но могут быть и убытки в определенных
                            периодах.  Подходят для опытных инвесторов,
                            готовых рисковать и зарабатывать больше.
                    .pif1-choose__subitem.pif1-choose__subitem--color.pif1-choose__subitem--orange
                        div
                            span.pif1-choose__subitem__title фонд акций “добрыня никитич”
                            span.pif1-choose__subitem__text Фонд инвестирует в высоколиквидные акции надежных российских компаний.
                        .pif1-choose__subitem__info
                            span.pif1-choose__subitem__percent +27%
                            span.pif1-choose__subitem__year за 2016 год
                    .pif1-choose__readmore-block
                        .pif1-choose__subitem
                            span.pif1-choose__subitem__list-title Открытые ПИФ облигаций
                            a(href="#").pif1-choose__subitem__list-link Фонд акций Добрыня Никитич
                            a(href="#").pif1-choose__subitem__list-link Фонд компании малой капитализации
                            a(href="#").pif1-choose__subitem__list-link Фонд активного управления
                            a(href="#").pif1-choose__subitem__list-link Фонд Телекоммуникации и технологии
                            a(href="#").pif1-choose__subitem__list-link Фонд Глобальный Интернет
                            a(href="#").pif1-choose__subitem__list-link Фонд Электроэнергетика
                            a(href="#").pif1-choose__subitem__list-link Фонд Природные ресурсы
                            a(href="#").pif1-choose__subitem__list-link Фонд Потребительский сектор
                            a(href="#").pif1-choose__subitem__list-link Фонд Финансовый сектор
                        .pif1-choose__subitem
                            span.pif1-choose__subitem__list-title Открытые ПИФ международных фондов
                            a(href="#").pif1-choose__subitem__list-link Фонд Глобальное машиностроение
                            a(href="#").pif1-choose__subitem__list-link Фонд Золото
                            a(href="#").pif1-choose__subitem__list-link Фонд Америка
                            a(href="#").pif1-choose__subitem__list-link Фонд Европа
                            a(href="#").pif1-choose__subitem__list-link Фонд Развивающиеся рынки
                a(href="#").pif-btn.pif1-choose__btn Получить консультацию
                div
                    span.pif1-choose__readmore.js-pif1-readmore показать все

        .pif1-choose__item.js-pif1-item
            .pif1-choose__item__title 2. Выбрать валюту и определить срок инвестиций
            .pif1-choose__block
                span.pif1-choose__txt.pif1-choose--block-2.
                    ПИФы могут инвестировать в ценные бумаги или недвижимость, номинированные в рублях или в долларах США.
                    Инвестируя в валютные активы (облигации или акции), Вы сможете получать доходность в валюте, но будете нести валютные
                    риски в периоды, когда курс рубля растет по отношению к доллару США.
                span.pif1-choose__txt.pif1-choose__txt--last.
                    В ПИФы облигаций целесообразно инвестировать на срок от 1 года, в ПИФы акций – на 3 года и более,
                    в ЗПИФ недвижимости – на 5 лет. Подробно смотрите на страницах ПИФов.


        .pif1-choose__item.js-pif1-item
            .pif1-choose__item__title 3. Сравнить доходность ПИФ за разные периоды
            .pif1-choose__block
                span.pif1-choose__txt.pif1-choose--block-2
                    | На нашем сайте Вы можете&nbsp;
                    a(href="#") сравнить доходность ПИФов
                    | &nbsp;за разные периоды в таблице и на графике.
                span.pif1-choose__txt.pif1-choose__txt--last
                    | Изучите эту информацию перед покупкой ПИФ или&nbsp;
                    a(href="#") обратитесь к нашему консультанту
                    | , который поможет выбрать подходящий для Вас ПИФ.

        .pif1-choose__item.js-pif1-item
            .pif1-choose__item__title 4. Узнать, как меньше рисковать и зарабатывать больше
            .pif1-choose__block
                span.pif1-choose__txt.pif1-choose--block-2
                    | Мы рекомендуем инвестировать средства не в один ПИФ, а сразу в несколько. Так Вы сформируете инвестиционный портфель фондов (набор из нескольких ПИФ) и диверсифицируете Ваши вложения для снижения риска.
                span.pif1-choose__txt
                    | Вы можете&nbsp;
                    a(href="#") выбрать ПИФы
                    | &nbsp;самостоятельно или воспользоваться нашими&nbsp;
                    a(href="#") рекомендациями по формированию инвестиционного портфеля
                    | &nbsp;(гиперссылка на раздел «Готовые решения») с учетом приемлемого для вас уровня риска.
                span.pif1-choose__txt.pif1-choose__txt--last
                    | Мы рекомендуем Вам  воспользоваться сервисом&nbsp;
                    a(href="#") Персонального финансового планирования
                    | ,  чтобы инвестировать в ПИФы, наиболее подходящие для Ваших целей.


        .pif1-choose__item.js-pif1-item
            .pif1-choose__item__title 5. Узнать, как инвестировать в недвижимость
            .pif1-choose__block
                span.pif1-choose__txt.pif1-choose--block-2.pif1-choose__txt--last
                    | Тем, кто предпочитает инвестиции в недвижимость, мы предлагаем закрытые паевые фонды недвижимости (ЗПИФН). Покупая паи ЗПИФН, Вы сможете инвестировать в жилую или коммерческую недвижимость, не обладая всей суммой для ее покупки, не тратя время на поиск покупку, продажу, эксплуатацию или сдачу в аренду квартиры или склада. Все это сделает профессиональный управляющий. ЗПИФН имеют свои особенности.

.pif1-trust
    img(src="img/pif1-man.png")
    .container
        .pif1-trust__wrapper
            .pif1-trust__item
                .pif1-trust__title
                    | Вы можете нам доверять.
                    | Ваши вложения под защитой.
                .pif1-trust__text
                    | Вашими средствами управляет одна из лучших команд портфельных менеджеров в России.
                    br
                    | ПИФы “Сбербанк Управление Активами” регулярно в лидерах по доходности.
                .pif1-trust__btns
                    a(href="#").pif-btn.pif1-trust__btns--get Получить консультацию
                    a(href="#").pif-btn-white.pif1-trust__btns--choose Выбрать ПИФ
.pif1-colours
    .pif1-colours__item.pif1-colours__item--orange
        span.pif1-colours__title 95 000
        span.pif1-colours__subtitle
            |ЧАСТНЫХ КЛИЕНТОВ
            br
            | СБЕРБАНК - УПРАВЛЕНИЕ
            br
            | АКТИВАМИ
    .pif1-colours__item.pif1-colours__item--lightgreen
        span.pif1-colours__title 98%
        span.pif1-colours__subtitle
            | АКТИВОВ ПОД УПРАВЛЕНИЕМ
            br
            | КОМПАНИИ ПОКАЗАЛИ
            br
            | ДОХОДНОСТЬ ВЫШЕ
            br
            | БЕНЧМАРКОВ В 2016 ГОДУ
            br
            | ПО ДАННЫМ НА 30.12.2016
    .pif1-colours__item.pif1-colours__item--gray
        span.pif1-colours__title 900
        span.pif1-colours__subtitle
            | ОФИСОВ ПРОДАЖ
            br
            | ПО ВСЕЙ РОССИИ
    .pif1-colours__item.pif1-colours__item--green
        span.pif1-colours__subtitle
            | ЛУЧШАЯ АНАЛИТИЧЕСКАЯ
            br
            | КОМАНДА В РОССИИ
        span.pif1-colours__text
            | в 2014-2016 гг.
            br
            | по версии рейтинга Extel Pan-
            br
            | Europe Survey от WeConvene
.pif1-invest
    .container
        .pif__title.pif1-invest__title Как инвестировать
        .pif1-invest__wrapper
            .pif1-invest__item
                img(src="img/pngsprite/ico-invest-1.png")
                .pif1-invest__item__title Онлайн через личный кабинет
                .pif1-invest__item__text
                    | Вы можете выбрать, купить, погасить или обменять паи в&nbsp;
                    a(href="#") личном кабинете
                    | &nbsp;без посещения офиса, если зарегистрированы на федеральном портеле госуслуг&nbsp;
                    a(href="https://www.gosuslugi.ru/") gosuslugi.ru
            .pif1-invest__item
                img(src="img/pngsprite/ico-invest-2.png")
                .pif1-invest__item__title В офисе Управляющей компании
                .pif1-invest__item__text Вам предоставят подробную консультацию и помогут оформить необходимые документы для любых операций с паями ПИФ. Оплата ч/з банк.
            .pif1-invest__item
                img(src="img/pngsprite/ico-invest-3.png")
                .pif1-invest__item__title Онлайн через личный кабинет
                .pif1-invest__item__text Вам помогут выбрать ПИФ, оформить документы и произвести оплату паев ПИФ.
        .pif1-invest__item__text.pif1-invest__info Оплатить паи ПИФ можно в отделении Сбербанка или через сервис Сбербанк-Онлайн (без комиссии), либо в отделении любого банка в соответствии с тарифами банка.
        .pif1-invest__subtext.pif1-invest__subtext--1 Правилами доверительного управления паевыми инвестиционными фондами предусмотрены надбавки (скидки) к (с) расчетной стоимости инвестиционных паев при их выдаче (погашении). Взимание надбавок (скидок) уменьшит доходность инвестиций в инвестиционные паи паевого инвестиционного фонда. Погасить и обменять паи открытых ПИФов можно в любой рабочий день.
        .pif1-invest__subtext.pif1-invest__subtext--2 Портфельные менеджеры «Сбербанк Управление Активами» неоднократно признавались лучшими на рынке (рейтинги газеты «Коммерсантъ», журнала «Финанс» и рейтингового агентства «РБК. Рейтинг»).

