.pif3
    .container
        span.pif__title.pif2-choose-pif__title Доходность паевых инвестиционных фондов, %
        span.pif2-choose-pif__text
            | Вы можете сравнить доходность ПИФов за разные периоды в таблице и на графике
            br
            | и выбрать наиболее подходящий для вас фонд.
        span.pif3__data-date
            | По данным на&nbsp;
            span 31.01.2017
        .pif3__table
            .pif3__table__head
