.pif-tab
    .container
        .pif-tab__wrapper
            .pif-tab__item(data-pif-tab="1")
                span.pif-tab__ico.pif-tab__ico--1
                span.pif-tab__text Что такое ПИФ?
            .pif-tab__item.active(data-pif-tab="2")
                span.pif-tab__ico.pif-tab__ico--2
                span.pif-tab__text Выбрать ПИФ
            .pif-tab__item(data-pif-tab="3")
                span.pif-tab__ico.pif-tab__ico--3
                span.pif-tab__text Сравнить доходность ПИФ
            .pif-tab__item(data-pif-tab="4")
                span.pif-tab__ico.pif-tab__ico--4
                span.pif-tab__text Персональный план
.container
    .pif-tab__block#pif-tab-1 таб 1
    .pif-tab__block.active#pif-tab-2 таб 2
    .pif-tab__block#pif-tab-3 таб 3
    .pif-tab__block#pif-tab-4 таб 4
