//СТИЛИ ПИФ2


.pif2-choose-pif {
  padding-top: 61px;
  &__title {
    margin-bottom: 21px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  &__text {
    display: block;
    font-family: "ProximaNova", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #8a9199;
    letter-spacing: -.5px;
    text-align: center;
    margin-bottom: 66px;
  }
  &__wrapper {
    display: flex;
    margin-bottom: 32px;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #ced5d9;
    padding-bottom: 55px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &.radios {
      margin-left: 49px;
      margin-right: 46px;
    }
    &__title {
      position: relative;
      display: inline-block;
      font-family: "ProximaNova", sans-serif;
      font-size: 18px;
      line-height: 22px;
      color: #363a45;
      font-weight: 700;
      letter-spacing: -.2px;
      margin-bottom: 15px;
      i {
        position: absolute;
        right: -36px;
        top: -2px;
        width: 23px;
        height: 22px;
        background: url("../img/pngsprite/ico-ques.png") no-repeat center;
      }
      &.radios {
        margin-bottom: 33px;
      }
    }
    &__radios {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .radio {
        margin-right: 9px;
      }
      label {
        font-family: "ProximaNova", sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #000;
      }
      &__item {
        margin-left: 23px;
      }
    }
  }
  &__block2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
    &__item {
      width: 49%;
    }
    &__title {
      display: block;
      font-family: "ProximaNova", sans-serif;
      font-size: 18px;
      line-height: 22px;
      color: #363a45;
      font-weight: 700;
      letter-spacing: -.2px;
      margin-bottom: 15px;
    }
    &__reset {
      position: relative;
      display: inline-block;
      font-family: "ProximaNova", sans-serif;
      font-size: 15px;
      line-height: 19px;
      font-weight: 700;
      color: #363a45;
      text-transform: uppercase;
      border: none;
      outline: none;
      cursor: pointer;
      margin-top: 35px;
      background-color: #fff;
      padding-left: 0;
      padding-right: 0;
      &:hover {
        &:after {
          opacity: 0;
        }
      }
      &:after {
        position: absolute;
        opacity: 1;
        content: '';
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #363a45;
        left: 0;
        bottom: 3px;
        -webkit-transition: all 0.1s linear;
        transition: all 0.1s linear;
      }
    }
  }
}

.pif2 {
  &__table {
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__row {
      border-bottom: 1px solid #ced5d9;
      height: 85px;
      display: flex;
      align-items: center;
      &:hover {
        .pif2__table__row--1 {
          color: #0e9800;
        }
      }
      span {
        position: relative;
        display: inline-block;
      }
      &--1 {
        width: 465px;
        font-family: "ProximaNova", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #000;
        letter-spacing: -.3px;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        .subname {
          position: absolute;
          text-transform: uppercase;
          color: #9ca8b4;
          font-size: 11px;
          line-height: 25px;
          top: -16px;
          left: 2px;
        }
        .subtext {
          font-weight: 400;
          color: #8a9199;
          font-size: 18px;
          line-height: 28px;
          margin-top: 16px;
        }
      }
      &--2{
        width: 71px;
      }
      &--3 {
        text-align: right;
        width: 131px;
      }
      &--4 {
        text-align: right;
        width: 172px;
      }
      &--5 {
        width: 185px;
      }
      &--circle {
        &:after {
          position: absolute;
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 100%;
          display: inline-block;
          left: 12px;
          top: -5px;
        }
      }
      &--green {
        &:after {
          background-color: #73c343;
        }
      }
      &--orange {
        &:after {
          background-color: #ffb515;
        }
      }
      &--red {
        &:after {
          background-color: #eb4b4b;
        }
      }
      &--percent {
        text-align: right;
        font-family: "ProximaNova", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -.4px;
        color: #369a1e;
        &--red {
          color: #eb4b4b;
        }
      }
      &--price {
        font-family: "ProximaNova", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-right: 5px;
        letter-spacing: -.4px;
        color: #72818f;
      }
      &--btn {
        float: right;
        text-align: right;
        a {
          margin-left: 45px;
          display: inline-block;
          padding: 14px 23px;
        }
      }
      &--name {
        height: auto;
        padding-bottom: 15px;
        span {
          font-family: "ProximaNova", sans-serif;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: -.4px;
        }
      }
    }
    &__btns {
      margin-bottom: 75px;
      &--1 {
        padding: 14px 28px;
        margin-right: 20px;
      }
      &--2 {
        padding: 14px 16px;
      }
    }
  }
  &__table2 {
    padding-bottom: 110px;
    &__name {
      margin-top: 20px;
    }
    .pif2__table__row {
      height: 154px;
      align-items: flex-start;
      &--name {
        height: auto;
        padding-top: 0;
        .pif2__table__row--3 {
          margin-top: 0;
          width: 120px;
        }
        .pif2__table__row--4 {
          width: 160px;
          margin-top: 0;
        }
      }
    }
    .pif2__table__row--3 {
      width: 160px;
      margin-top: 65px;
    }
    .pif2__table__row--4 {
      width: 120px;
      margin-top: 65px;
    }
    &__item {
      width: 565px;
      .pif2__table__row--1 {
        width: auto;
      }
      &--subitem {
        margin-top: 36px;
      }
    }
    .pif2__table__row--btn {
      margin-top: 51px;
    }
  }
  &__range {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: #eff7f8;
    border-radius: 5px;
    outline: none;
    padding: 12px 18px;
    border: none;
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #39424d;
  }
  &__range1 {
    position: relative;
    z-index: 2;
    height: 3px!important;
    border: none!important;
    .ui-slider-handle {
      position: relative;
      border: none!important;
      &:after {
        content: '';
        position: absolute;
        background: url("../img/pngsprite/ico-slide-handler.png") no-repeat center!important;
        width: 31px;
        height: 49px;
        left: 0;
        top: -9px;
      }
    }
    .ui-widget-header {
      background: #0e9800;
    }
  }
  &__range2 {
    position: relative;
    margin-top: 28px;
    background-color: #e4eced;
    z-index: 2;
    height: 3px!important;
    border: none!important;
    width: 75%;
    .ui-slider-handle {
      position: relative;
      border: none!important;
      &:after {
        content: '';
        position: absolute;
        background: url("../img/pngsprite/ico-slide-handler.png") no-repeat center!important;
        width: 33px;
        height: 52px;
        left: 0;
        top: -13px;
      }
    }
    .ui-widget-header {
      background: #0e9800;
    }
    span {
      position: absolute;
      cursor: pointer;
      font-family: "ProximaNova", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #bac2ca;
      letter-spacing: -.6px;
      top: 19px;
      &.active {
        &:before {
          background: #0e9800;
        }
      }
      &:hover {
        color: #8f979f;
      }
      &:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 3px;
        background-color: #e4eced;
        top: -16px;
      }
    }
    &--1  {
      left: 0;
      &:before {
        left: 0;
      }
    }
    &--2  {
      left: 17%;
      &:before {
        left: 50%;
        transform: translateX(-50%)
      }
    }
    &--3  {
      left: 37%;
      &:before {
        display: none;
      }
    }
    &--4  {
      left: 57%;
      &:before {
        display: none;
      }
    }
    &--5  {
      left: 78%;
      &:before {
        left: 50%;
        transform: translateX(-50%)
      }
    }
  }
}

.pif2-select-1 {
  width: 250px;
  .drop_face {
    height: 60px;
    padding: 19px 22px;
  }
}
.pif2-select-2 {
  width: 430px;
  .drop_face {
    height: 60px;
    padding: 19px 22px;
  }
  .selected {
    position: relative;
  }
  section {
    span {
      position: relative;
    }
  }
  .riski {
    position: absolute;
    right: -27px;
    top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    &--1 {
      background-color: #0e9800;
    }
    &--2 {
      background-color: #ffb515;
    }
    &--3 {
      background-color: #eb4b4b;
    }
  }
}
.pif2-range2 {
  position: relative;
  width: 20%;
  justify-content: flex-start;
  align-items: flex-end;
  &:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 20px;
    border: 10px solid transparent;
    border-right: 10px solid #eff7f8;
  }
  &__text {
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-left: 3px;
    color: #39424d;

  }
  input {
    width: 24px;
    height: 32px;
    overflow: hidden;
    line-height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #39424d;
  }
}
.flex {
  display: flex;
}
.wrapper-years {
  flex-direction: row;
  justify-content: space-between;
}

